// variable
$color-theme: #5908c9;
$color-black: #000;
$color-white: #fff;

$xs: 420px;
$sm: 500px;
$md: 768px;
$lg: 1024px;
$xl: 1440px;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.contianer {
  max-width: 1300px;
  margin: auto;
}
.slider {
  width: 100%;
  height: 100vh;
  min-height: 850px;
  background-image: url(./assets/images/bg.jpg);
  position: relative;
  z-index: 1;
  overflow: hidden;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-black;
    opacity: 0.6;
    z-index: -2;
  }

  .contianer {
    overflow: hidden;
  }

  &-wrp {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    transition: 0.8s all ease-in-out;
    height: 100%;
    z-index: -1;
  }

  // button style
  &-btn {
    &-wrp {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0;
      color: $color-white;
      list-style: none;
      gap: 20px;
      height: 100px;
      z-index: 99;

      @media screen and (max-width: $md) {
        position: absolute;
        left: 10px;
        flex-direction: column;
        top: 90px;
      }
    }

    padding: 10px 20px;
    border: 2px solid $color-theme;
    width: 300px;
    text-transform: uppercase;
    transition: 0.4s all ease;
    cursor: pointer;

    @media screen and (max-width: $md) {
      width: 200px;
    }

    h2 {
      font-size: 24px;
      @media screen and (max-width: $md) {
        font-size: 18px;
      }
    }
    p {
      font-size: 18px;
      @media screen and (max-width: $md) {
        font-size: 14px;
      }
    }

    &:hover,
    &.active {
      background-color: rgba($color: $color-theme, $alpha: 0.8);
    }
  }

  // slide style start
  .slide {
    position: relative;
    height: calc(100vh - 100px);
    width: 100%;
    text-align: center;
    height: 100%;

    & > a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &-img {
      height: calc(100% - 400px);
      z-index: 9;
      min-height: 500px;
      max-width: 100%;
      object-fit: contain;
    }

    .watermark {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      transition: 0.3s all;
      color: $color-theme;
      font-size: 160px;
      text-transform: uppercase;
      text-align: center;
      opacity: 0.5;
      z-index: 1;
      cursor: default;

      @media screen and (max-width: $lg) {
        font-size: 100px;
      }

      @media screen and (max-width: $md) {
        font-size: 84px;
      }

      @media screen and (max-width: $sm) {
        font-size: 54px;
      }

      &:hover {
        transform: translate(-50%, -50%) scale(1.009);
      }
    }

    .hidden {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      overflow: hidden;
      padding-top: 10px;
    }

    &-btn {
      &-wrp {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;
      }

      // btn style
      border: 2px solid $color-theme;
      width: 200px;
      height: 150px;
      position: relative;
      transition: 0.4s all;
      cursor: pointer;

      @media screen and (max-width: $md) {
        width: 100px;
        height: 100px;
      }

      &:hover,
      &.active {
        transform: translateY(-10px);

        @media screen and (max-width: $md) {
          transform: translateY(-5px);
        }
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &-text {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $color-black;
        width: 100%;
        color: $color-white;
        text-align: right;
        padding: 5px;
        text-transform: uppercase;

        h3 {
          font-size: 22px;

          @media screen and (max-width: $md) {
            font-size: 14px;
          }
        }
        p {
          font-size: 14 px;
          @media screen and (max-width: $md) {
            font-size: 10px;
          }
        }
      }
    }
    // slide details style
    &-details {
      width: 250px;
      height: auto;

      color: $color-white;
      display: block;
      text-align: right;
      position: absolute;
      bottom: 30px;
      right: 200px;
      text-decoration: none;
      overflow: hidden;

      .hide {
        background-color: $color-theme;
      }

      @media screen and (max-width: $xl) {
        right: 20px;
      }

      @media screen and (max-width: $lg) {
        display: none;
      }

      &-top {
        padding: 10px;

        span {
          display: block;
          font-size: 16px;
          font-weight: 600;
        }

        strong {
          text-transform: uppercase;
          font-size: 24px;
          display: block;
        }

        p {
          font-size: 18px;
        }
      }

      &-mid {
        color: $color-theme;
        background-color: $color-white;
        padding: 10px;
        font-size: 22px;
        text-transform: uppercase;
        margin: 5px 0;

        ul {
          margin: 5px 0;

          li {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            padding: 3px 0;
          }

          span {
            font-size: 18px;
            text-transform: lowercase;
          }
        }
      }

      &-bottom {
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        color: $color-white;
        text-decoration: none;
        display: block;
      }
    }
  }

  // slide style end
}
